<%- include head.ejs %>

<div class="margin-top">
  <form action="/post/<%= post._id %>/edit?_method=PUT" method="POST">
    <div>
      <label>Titulo</label>
     <input type="text" class="w3-input w3-border" placeholder="name" name="title" value="<%= post.title%>">
    </div>

    <div>
      <label>Intro</label>
    <textarea type="text" class="w3-input w3-border" placeholder="ingrese la intro" rows="10" maxlenght="200" name="intro"><%= post.intro%></textarea>
    </div>
    
    <div>
      <label>Contenido</label>
      <textarea type="text" rows="15" class="w3-input w3-border" name="text"><%= post.text%></textarea>
    </div>
    <div class="w3-center">
        <button type="submit" class="w3-button w3-indigo">Editar</button>
    </div>
  </form>
</div>
<%- include footer.ejs %>

